.report-table{
  padding-right: 1rem;
  border: 1px solid #e1e7ee;
  border-radius: 10px !important;
  box-shadow: -2px 3px 5px hsla(0,0%,49%,.1);
  tbody>tr{
    direction: ltr;
    td.text-start{
      text-align: end !important;
    }
    td>button.v-btn{
      min-width: 110px !important;
      letter-spacing: normal;
    }
  }

}

.filter-box-component{
  .filter-actions{
    padding: 0 16px;
    .v-btn{
      min-width: 110px !important;
      letter-spacing: normal;
    }
  }
  .filter-item-component{
    .row{
      min-height: calc(1.5em + 0.75rem + 8px);
      height: auto;
      font-size: 0.84rem;
      border-radius: 5px;
      padding: 0 16px;
      background-color: #F3F7F9;
      margin-left: 0;
      .col-4,
      .col-8{
        padding: 2px 0 2px 0;
      }
    }
    .v-input{
      .v-input__prepend-outer,
      .v-input__append-outer,
      .v-input__append-inner{
        margin: auto;
        font-size: 0.84rem;
      }
      .v-input__control{
        .v-input__slot{
          padding: 0 !important;
          min-height: calc(1.5em + 0.75rem + 8px);
          height: auto;
          margin-bottom: 0;
          fieldset{
            border: none;
          }
          .v-select__slot{
            font-size: 0.84rem;
            border-radius: 5px;
            padding: 0 16px;
            background-color: #F3F7F9;
            margin-left: 0;
          }
        } 
        .v-text-field__details,
        .v-messages{
          display: none;
        }
      }
    }
    .vpd-input-group{
      background-color: #F3F7F9;
      border-radius: 0.3rem;
      min-height: calc(1.5em + 0.75rem + 8px);
      height: 48px;
      font-size: 0.84rem;
      > label{
        border-radius: 0 0.3rem 0.3rem 0;
      }
      > input{
        border: none;
        border-radius: 0.3rem;
        max-height: 40px;
        margin-top: 8px;
      }
    }
    .multiselect{
      background-color: #F3F7F9;
      background-image: none !important;
      border: none;
      border-radius: 0.3rem;
      height: auto;
      font-size: 16px;
      min-height: calc(1.5em + 0.75rem + 8px);
      ul{
        padding-left: 0;
      }
      .multiselect__select{
        top: 2px;
        left: 1px;
        right: auto;
      }
      .multiselect__tags{
        border: none;
        background-color: #F3F7F9;
        text-align: right;
        padding: 10px 8px 0 40px;
        .multiselect__tag-icon:after{
          color: gray;
        }
        .multiselect__tag-icon:hover{
          background-color: transparent;
        }
        span, input{
          font-size: 0.875rem;
          border: none;
          background-color: #F3F7F9;
          color: gray;
          padding-right: 12px;
        }
        input{
          display: none
        }
      }
    }
  }
}
