// v-stepper
$body-font-family: 'IRANSansNumber', 'IranYekan', 'IRANSans';
$stepper-step-step-min-width: 36px;
$stepper-step-step-width: 36px;
$stepper-step-step-height: 36px;
$stepper-alt-labels-header-divider: 67px -70px 0;
